@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <a asp-controller="Home" asp-action="DownloadExcel" asp-route-model="product">Ürünler Excel Zip İndir</a>
    <a asp-controller="Home" asp-action="DownloadExcel" asp-route-model="category">Kategoriler Excel Zip İndir</a>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
