@{
    ViewData["Title"] = "Home Page";
}
@model List<AppUser>
<div class="container">
    <div class="row">
        @foreach (var user in Model)
        {
            <div class="col-md-4">
                <user-card user="@user"></user-card>
            </div>
        }
    </div>
</div>
